<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS example</title>
</head>
<body>
    <h1>HELLO </h1>
    <p>this is third partyrendering in node.js</p>
</body>
</html>